* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0; /* Optional: A subtle background color for better visibility */
}

h1 {
  margin-bottom: 20px;
}

#calculator {
  border: 1px solid black;
  width: 200px;
  border-radius: 5px;
}

#display {
  width: 85%;
  margin: 10px;
  font-size: 25px;
}

.butoon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aliceblue;
}

.mybutton {
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 18px;
  cursor: pointer;
}

.mybutton:hover {
  background-color: rgb(126, 126, 207);
}
